pytest==7.4.2
pytest-asyncio==0.21.1
anthropic==0.5.0
openai==0.28.1
langchain==0.0.329
langsmith==0.0.56
GitPython==3.1.40
chromadb==0.4.14
python-dotenv==1.0.0
lxml==4.9.3
html2text==2020.1.16
tiktoken==0.5.1
bs4==0.0.1
Flask==3.0.0
